#home-image-wrapper {
  position: relative;
  max-width: 100%;
  margin-left: -5.35%;
  margin-top: -2.7%;
}

/* .home-main-img {
  position: fixed;
  width: 50%;
  height: 50%;
  background-size: cover;
} */

#home-text {
  position: absolute;
  top: 80px;
  left: 8%;
  width: 50%;
  display: inline;
  text-align: left;
  color: white;
}

.home-about-img {
  width: 15%;
}
