.home-banner-wrapper {
  position: relative;
}

.home-hero-img {
  width: auto;
  height: auto;
}

.home-banner-content {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 50%;
  display: inline;
  text-align: left;
  color: white;
}
